.wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    max-width: 600px;
    margin: 100px auto;
}

.wrapper button {
    padding: 10px 20px;
    background-color: #614101;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.accordian {
    width: 500px;
}

.item {
    background: #614101;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5%;
}

.title {
    color: white;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}

.content {
    color: white;
    height: auto;
}